@use 'vars' as v; 
@use 'mixins' as m;

/* GLOBALS */
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem == 10px */
}

*, *::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: v.$secondaryFont;
    font-size: 1.6rem;
    background-color: v.$lightBrown;
}

p{
    color: v.$black;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3{
    margin: 0 0 v.$distance 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

.main{
    background-color: v.$white;
    padding: 2rem;

    @include m.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative
    }

    &--pb{
        padding-bottom: 0;
    }
}