//Font
$font: "Roboto", sans-serif;

//Colors
$primaryColor:#5E311E;
$secondaryColor:#c39c63;
$lightBrown: #ebe7de;
$white: #FFF;
$black:#000;
$lightGrey:#ECEEEF;


//unit
$distance:5rem;

//Media Queries
$tel:480px;
$tablet: 768px;
$desktop: 1024px;