//Font
$font: "Roboto", sans-serif;

//Colors
$primaryColor:#E8505B;
$secondaryColor:#455A64;
$white: #FFF;
$black:#000;
$lightGrey:#ECEEEF;
$lightBrown: #c39c63;

//unit
$distance:5rem;

//Media Queries
$tel:480px;
$tablet: 768px;
$desktop: 1024px;