@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.navbar{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    padding-left: 0;
    margin-top: v.$distance;
    
    &__link{
        color: v.$white;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        
        &:hover{
            color:v.$secondaryColor ;
        }

        &--active{
            color: v.$secondaryColor;
        }
    }

    //media query
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }
}