@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.main{
    background-color: v.$white;
    padding: 2rem;

    @include m.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative
    }
}

.about{
    &__title{
        font-size: 3.6rem;
        color: v.$primaryColor;
        text-transform: uppercase;

        &::after{
            content: '';
            background-image: url(../img/cafe.svg);
            background-size: 10rem;
            height: 10rem;
            width: 10rem;
            display: block;
            margin: 0 auto;
        }

        &--mod{
            display: block;
            font-size: 1.8rem;
            color: v.$secondaryColor;
            font-family: v.$cursiveFont;
        }
    }
}

.icons{
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__img{
        width: 12rem;
        height: auto;
    }

    &__txt{
        font-size: 3rem;
        font-weight: 400;
        color: v.$primaryColor;
        font-family: v.$cursiveFont;
    }
}

.experience{
    &__title{
        font-size: 3.6rem;
        color: v.$primaryColor;
        text-transform: uppercase;

        &--mod{
            display: block;
            font-size: 1.8rem;
            color: v.$secondaryColor;
            font-family: v.$cursiveFont;
        }
    }

    &__gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;

        &__item{
            transition-property: scale, box-shadow;
            transition-duration: .3s;

            &:hover{
                scale: 1.04;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

        @include m.tablet {
            grid-template-columns: repeat(4, 1fr);

            &__item{
                &:nth-child(1){
                    grid-row: 1/3;
                }

                &:nth-child(2){
                    grid-column: 2/4;
                    grid-row: 1/2;
                }

                &:nth-child(4){
                    grid-column: 2/3;
                    grid-row: 2/4;
                }

                &:nth-child(5){
                    grid-column: 3/5;
                    grid-row: 2/3;
                }
    
                &:nth-child(6){
                    grid-column: 3/5;
                    grid-row: 3/4;
                }

                &:nth-child(7){
                    grid-column: 1/2;
                    grid-row: 3/5;
                }

                &:nth-child(8){
                    grid-column: 2/5;
                    grid-row: 4/5;
                }

                &:nth-child(9){
                    grid-column: 1/3;
                    grid-row: 5/6;
                }

                &:nth-child(10){
                    grid-column: 3/5;
                    grid-row: 5/6;
                }
            }
        }

        &__image{
            object-fit: cover;
            height: 30rem;
            width: 30rem;

            @include m.tablet {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.menu{
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, #5e311e,#5e311e);
    background-repeat: no-repeat;
    background-position: center 5rem, center 95%, 100%;
    background-size: 150%, 150%, 100%;
    padding: 15rem 5rem 20rem 5rem;

    @include m.tablet {
        padding: 15rem 0 20rem 0;
        background-size: 100%;
    }

    @include m.desktop {
        background-size: 50%, 50%, 100%;
    }

    &__title{
        font-size: 3.6rem;
        color: v.$white;
        text-transform: uppercase;

        &--mod{
            display: block;
            font-size: 1.8rem;
            color: v.$secondaryColor;
            font-family: v.$cursiveFont;
        }
    }

    &__grid{

        

        @include m.tablet {
            display: grid;
            gap: 2.4rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }


    &__item{
        &__title{
            text-transform: uppercase;
            color: v.$white;
        }

        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__text{
            color: v.$white;
            font-size: 2.2rem;
            line-height: 1.5;
            margin: 0 0 1.5rem;
            text-align: left;

            &--mod{
                display: block;
                color: v.$secondaryColor;
            }
        }

        &__price{
            color: v.$white;
            font-size: 3rem;
            font-weight: 900;
        }
    }
}